@tree-bg: transparent;

.ant-layout-header {
    background: transparent;
}

.header {
    background-color: transparent;
    background-image: url('/me/img/background/galaxy.png');
    
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ant-list-item-meta-content{
    width: 100%
}

.ant-menu.ant-menu-dark, 
.ant-menu-dark .ant-menu-sub {
    background: #00000077;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: purple;
}

.ant-menu-dark .ant-menu-item, 
.ant-menu-dark .ant-menu-item-group-title, 
.ant-menu-dark .ant-menu-item > a, 
.ant-menu-dark .ant-menu-item > span > a {
    color: #ffffffee;
}

.ant-modal-body {
    padding: 0px;
}

.react-pdf__Page__canvas{
    display: block;
    margin: auto;
}

.pdf{
    padding:0px;
}

.react-pdf__Page__textContent {
    display: none;
}