

aside {
    background-image: url('../../docs/img/background/galaxy_rotated.png');
    background-size: auto 100vh;
    background-position: left;
}

::-webkit-scrollbar {
    background-color: #030932;
    
    width: 1vw;
    background-size: auto 100vh;
    background-position: right;
}


::-webkit-scrollbar-thumb {
    background-color: white;

    border-radius: 10px;

    background-size: auto 100vh;
}